html, body {
    margin: 0;
    padding: 0
}

body {
    background-color: lightblue;
}

#profile {
    position: absolute;
    left: 40px;
    max-width: 160px;
    max-height: 160px;
    top: 10px;
    border-radius: 60%;
}

h1,
h2 {
    text-align: center;
    font-family: "Courier New";
}
p {
    text-justify: center;
    font-family: "Courier New";
    margin: 90px
}

h3 {
    position: absolute;
    font-family: "Courier New";
    left: 80px;
    top: 180px;
    ;
}

div > h3 {
    position: absolute;
    top: 320px;
}

ul {
    position: absolute;
    font-family: "Courier New";
    left: 110px;
    top: 380px;
}

nav {
    text-align: center;
    margin-left: -20px;
    font-family: "Courier New";
    background-color: white;
    background-size: 00px;
    border: 100px;
    font-weight: bolder;
    border-width: 5px;
}
button {
    font-family: "Courier New";
    border: 1px solid #000;

}
#player {
    position: absolute;
    right: 250px;
}

.box {
    color: red;
    position: absolute;
    font-size: x-large;
    right: 450px;
    bottom: 150px; 
}

#red {
    position: absolute;
    right: 600px;
    bottom: 120px;
    background-color: red;
    color: white;

}
#blue {
    position: absolute;
    right: 530px;
    bottom: 120px;
    background-color: blue;
    color: white;
    font-style: italic;
}

#green {
    position: absolute;
    right: 450px;
    bottom: 120px;
    background-color: green;
    color: white;
}
footer {
    position: absolute;
    bottom: -50px;
    font-family: "Courier New";
}

#email {
    position: absolute;
    bottom: 70px;
    left: 90px;
}

#wedding {
  position: absolute;
  max-width: 200px;
  max-height: 250px;
  left: 170px;
  bottom: 80px;
}
