body {
    background: lightblue;
}
h1,
h2 {
    text-align: center;
    font-family: "Courier New";
}
p {
    text-justify: center;
    font-family: "Courier New";
    margin: 80px
}

h3 {
    position: absolute;
    font-family: "Courier New";
    left: 80px;
    top: 170px;
    ;
}

div > h3 {
    position: absolute;
    top: 300px;
}

ul {
    position: absolute;
    font-family: "Courier New";
    left: 80px;
    top: 340px;

}

nav {
    text-align: center;
    margin-left: -20px;
    font-family: "Courier New";
    
}
button {
    font-family: "Courier New";
    border: 1px solid #000;

}

